SECRET_KEY=sua_chave

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=doacao_oculos

CONTACT_EMAIL=seu_email@gmail.com
SMTP_EMAIL=seu_email@gmail.com
SMTP_APP_PASSWORD=sua_senha_de_app

ADMIN_USER=admin
ADMIN_PASSWORD=sua_senha
ADMIN_PASSWORD_HASH=